html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-color: #008B8B;
}
div.main{
    height: 550px;
    border: 2px solid  #bbdefb;
    border-radius: 20px;
    width: 500px;
    padding: 3px;
    margin: auto;
    background-color: #eeeee0;
    border-radius : 10px 0px 10px 0px;
    margin-top: 100px;
}
select{
    width: 310px;
    background-color: transparent;
    height: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}
label {
    color: black;
    padding: 10px;
}
header .header h1{
    text-align: center;
    color: #5F9F9F;
}
div.row{
    margin: 2px 0px 0px 5px;
    height: 40px;
}
div.col{
    float: left;
    margin: 0px;
    width: 150px;
    height: 40px;
    text-align: left;
    font-weight: 900;
}
span.error{
    display: none;
    float: right;
}
span.error_show{
    color: red;
    margin-top:0px;
}
.ip{
    float: left;
    margin: 0px;
    width: 300px;
    height: 25px;
}
fieldset{
    border: none;
}
textarea{
    width: 310px;
}
.row button{
    text-align: center;
    margin: auto;
}
button.btn-center{
    padding: 10px;
    margin-top: 60px;
    background-color: #5F9F9F;
    color: whitesmoke;
    border: 2px solid #5F9F9F;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 20%;
    width: 100px;
    margin-right: 20%;
}
section#userTable{
    margin-top: 10em;
    width: 800px;
    height: 500px;
    margin-left: -100px;
    margin-right: auto;
    vertical-align: middle;
}
table#usersInfo{
    border-collapse: collapse;
    width: 750px;
    margin-left:-30px; 
    margin-right:15%;
    padding: 2px;
}
table#usersInfo , th , td{
    padding: 1em;
}
table th {
    height: 30px;
    color: #eeeee0;
    text-align: left;
    width: 110px;
    background-color: #5F9F9F;
}
table td{
    border-bottom: 2px solid #008B8B;
    word-break:break-all;
    width: 110px;
}
tr {background:#bbdefb;  }